<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container1">

        <form id="first_form">
            <h3>Chat with our AI</h3>
            <input type="text" name="chatting" id = "chatting" placeholder="Type Here"><br><br>
            <button type="submit">send</button> 
        </form>

        <h3 id="output"></h3>
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>