<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="chat-container">
        <h3>AI ChatBot</h3>
            <div id="chat-box"></div>
            <form id="first_form">
            <input type="text" id = "chatting" placeholder="Type Here...." required ><br><br>
            <button type="submit">send</button> 
            </form>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>