<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container1">
        <form id="first_form">
            <h3>Chat with our AI</h3>
            <input type="text" name="chatting" placeholder="Type Here"><br><br>
            <button type="submit">send</button>


        </form>
    </div>
</body>
</html>